@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url(../fonts/'BebasNeueRegular.woff2') format('woff2'),
        url(../fonts/'BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}
.header {
	background-color: #635854;
	padding-top: 12px;
	padding-bottom: 12px;
 border-bottom: 4px solid #3596F5;
}
.navbar {
	max-width: 1280px;
	margin: auto;
	display: flex;/*Сделали элемент гибким*/
 justify-content: space-between;/*Расположение по центру по вертикали*/
 align-items: center;/* Расположение по центру по горизонтали*/
}
/*Как сделано: поставили общую ширину меню
Затем поставили авто отступы
Поставили flex
И контент выровняли, чтобы смотрелся адекватно*/
.navbar-menu {
	margin: 0;/*Убрали внешние отступы*/
	padding: 0;/*Убрали внутренние отступы*/
	list-style: none; /*Отключаем точки у списка*/
	display: flex;
	text-align: center;
}
/*Как сделано: посмотрели в браузере, какие есть проблемы у меню-списка
Проблем две:
фиолетовый отступ
желтый margin
Соответственно все убрали
Дальше убрали оформление списка
И, чтобы все расположилось адекватно, поставили технологию flex
*/
.navbar-item {
margin-left: 40px;
margin-right: 40px;
}

.navbar-link {
	text-decoration: none;
	color: #fff;
}
.navbar-contacts {
	text-align: right;
}
.navbar-text {
	font-size: 14px;
	margin: auto;
	float: none;
	display: block;
	color: #fff;
	margin-bottom: 4px;
}
.navbar-phone {
 font-weight: 700;
 font-size: 17px;
 line-height: 20px;
 color: #fff;
 text-decoration: none;
}
.main {
 max-width: 1280px;
	margin: auto;
	padding-top: 54px;
	display: flex;
}
.main-info {
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.home-image path {
	opacity: 0;
	cursor: pointer;
}
.home-image path:hover {
opacity: 1;
}
/*Прописываем для группы со стрелками*/
.counter-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.counter-button {
	background-color: #fff;
	border: none;
}
.counter-arrow-down {
	transform: rotateX(180deg);
}
.main-title {
	margin: 0;
	font-family: 'Bebas Neue', sans-serif;
	text-transform: uppercase;
	font-size: 33px;
 line-height: 44px;
 color: #635854;
}
.counter {
	font-family: 'Bebas Neue', sans-serif;
	color: #635854;
	font-size: 124px;
	cursor: pointer;
}
.button-primary {
	background-color: #3596F5;
	border-radius: 6px;
	color: #fff;
 border: none;
 padding: 16px 36px;
 font-size: 16px;
 cursor: pointer;
}

